{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">
            <h2 class="mb-4 text-center">Введите свои API ключи Bybit</h2>
            {% if error %}
                <div class="alert alert-danger">{{ error }}</div>
            {% endif %}
            <form method="post">
                <div class="mb-3">
                    <label class="form-label">API Key</label>
                    <input type="text" class="form-control" name="api_key" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">API Secret</label>
                    <input type="password" class="form-control" name="api_secret" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Войти</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
